body {
    font-family: 'Edu SA Beginner', cursive;
    margin: 0px;


}

.ratul {

    color: rgb(242, 8, 222);

}

h1 {
    font-size: 50px;
    color: rgb(184, 2, 2);
}

p {
    text-align: justify;
}

.display {
    display: flex;
    margin-bottom: 100PX;
}

.iloveu {
    display: flex;


}



.ratul33 {
    width: 50%;
    padding-left: 5%;
}

.tiktok {
    width: 45%;
    margin-left: 5%;
    margin-right: 15%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 5px;
    border-radius: 10px;
}

.ratul33 img {
    width: 100%;
}

.link-batton {
    background-image: linear-gradient(rgb(7, 25, 224), rgb(13, 237, 10));
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 50PX;

}

.banner-flower {
    background-image: url(banner5.avif);
    background-repeat: no-repeat;
}

.section-2-banner {
    background-image: url(banner5.avif);


}

.boton {
    margin-top: 10px;
}

#love5 {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#mylove {
    border-left: 10px solid;
    border-image: linear-gradient(rgb(157, 255, 0), rgb(255, 13, 0));
    border-image-slice: 1;

}

footer p {
    font-size: 30px;
    text-align: center;
}